@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*font-family: 'Poppins', sans-serif;*/

:root{
    --green : #197f5b;
    --orange: #EF9919;
    --ligth-gray: #f9f5f2;
    --ligth-black:#535353;
    --white:#ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   background-color: var(--white);
    
}

.nav{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: end;
    height: 80px;
    color: var(--white);
    

}

img{
    width: 24px;
}

#boton-menu{
    display: none;
}

.nav-menu{
    position: absolute;
    background-color: var(--green);
    width: 100%;
    right: 0;
    top: 80px;
    min-height: calc(100vh - 80px);
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    
}

.nav-item{
    list-style: none;
    font-size: 1.25rem;

}

#boton-menu:checked ~ .nav-menu{
    display: flex;
    z-index: 100;
}

a{
    text-decoration: none;
    color: white;
}


.back{
    background-color: var(--green);
}

.header{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction:column;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    
}

.social-media{
    text-align: center;
}
.fotografia{
    width: 200px;
    
}

h1>span{
    color: #EF9919;
}

.presentacion{
    padding: 1rem;
}

.trapecio-top {
    width: 100vw;
    height: 0px;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 90px solid var(--green);
    position: absolute;
    background-color: white;
    left: 0;


}
.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: .5rem;
    position: absolute;
    top: -6rem;
    width: 100vw;
    left: -6rem;
    background-color: transparent;
    
}
.iconos-redes{
   background-color: white;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;

}

.icon{
    background-color: white;
    width: 25px;
    margin-top: 10px;
    
}

.div-fotografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.burbuja-1,
.burbuja-2{
    background-color: var(--white);
    color: #535353;
    border-radius: 30px;
    width: 9rem;
    height: 3rem;
    
}

p > span{
    background-color: transparent;
    color: var(--orange);

}

.burbuja-1{
    position: absolute;
    top: 0rem;
    left: auto;


}

.burbuja-2{
    position: absolute;
    top: 14rem;
    left: auto;
}


.section--div1{
   
    border-radius: 20px;
    margin: 1rem 5rem;
    padding: 1.2rem;
    text-align: center;
    position: relative;
    bottom: -53px;
    background-color: var(--orange);
    height: 120px;
    
}

.section--div__title{
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: white;
    margin-bottom: 0.50rem;
    background-color: #EF9919;
}

.section--btn{
    background-color: var(--green);
    color: white;
    padding: 0.50rem;
    border: 1px solid var(--pink);
    width: 80px;
    border-radius: 25px;
    margin-bottom: 1rem;
    max-width: 300px;
}

.form-collab{
    background-color: #535353;
    width: 390px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
input{
    border: 0;
    border-radius: 25px;
    width: 80%;
    
}












@media screen and (min-width: 700px) {
    
    label{
        display: none;
    }
    .nav-menu{
        position: static;
        display: flex;
        flex-direction: row;
        min-height: auto;
        justify-content: end; 
        background-color: transparent;
    }

    .nav-item{
        padding-left: 2rem;
        font-size: 0.8rem;
    }

    .header{
        flex-direction: column-reverse;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text > p{
        width: 350px;
    }
    
}